:root{
--primari-text-color: #757575;
--title-text-color:#212121;
--href-text-color:#2196F3;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


a {
    text-decoration:none;
}

.main-container{
    font-family: Roboto,Calibri;
    letter-spacing: 0.03em;
    width: 1600px;
    height: 2349px;
    margin-left: auto;
    margin-right: auto;
}

    
/* хедер */

.header-container{
    display: flex;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


.logo{
font-family: Raleway;
color: #2196F3;

font-weight: bold;
font-size: 26px;
line-height: 1.19;
}


.logo-header{
    color: #000000;
}


.list{
    list-style: none;
    margin: 0;
    padding: 0;
   
}

/* Site-nav */
.nav-container{
    display: flex;
    align-items: center;
}

.site-nav{
    display: flex;
    margin-left: 92px;
}


.site-nav .link{
    display: block;
    color: #212121;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-nav .child + .child{
    margin-left: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--href-text-color)
}

/* Auth-nav */

.auth-nav{
    display: flex;
    margin-left: auto;
    align-items: center;
}

.auth-nav .child + .child{
    margin-left: 50px;
}
.auth-nav .link{
    
    color: #757575;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.auth-nav .link:hover,
.auth-nav .link:focus{
    color:var(--href-text-color)
}

/* Hero */

.hero{
    text-align: center;
    padding-bottom: 94px;
    height: 600px;
    background-color: #2F303A;
}

.hero-title{
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin-top:0;
    margin-bottom:20px;
    padding-top:200px;
    padding-right:452px;
    padding-left:452px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero .service{
    display:inline-block;
    font-family: Roboto;
    font-weight: bold;
    color: white;
    background-color:var(--href-text-color);
    letter-spacing: 0.06em;
    
    font-size: 16px;
    line-height: 1.87;
    min-width: 200px;
    text-align: center;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 4px;
    
   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

/* Section */

.about-us{
width: 1600px;
height: 770px;
}
.advantages{
    display:flex;
    width: 1170px;
    height: 101px;
    margin-top: 94px;
    
    margin-left: auto;
    margin-right: auto;
}




.advant-comp{
    
    display: flex;
    margin: 0;
    padding: 0;
    
}

.advant-comp .comp-item{
    
    min-width: 270px;
    height: 101px;
    
}

.advant-comp .comp-item + .comp-item{
    margin-left: 30px;
}
.section-title{
    font-weight: bold;
    font-size: 14px;
    line-height:1.14;
    color:var(--title-text-color);

    margin-bottom: 10px;
    margin-top: 0;
    padding: 0;
}

.text{
    
    font-style: normal;
    font-weight: normal;
    color:var(--primari-text-color);
    font-size: 14px;
    line-height: 1.71;
    margin: 0;
    width: 270px;
    height: 75px;
    
}
/* Чем мы занимаемся */

    
    
    


.function-container{
    width: 1170px;
    margin-top: 94px;
    margin-right: auto;
    margin-left: auto;
}

.work-list{
display: flex;
margin: 0;
padding: 0;


}
.work-list .work-item{
    width: 370px;
    
}
.work-list .work-item + .work-item{
    margin-left: 30px;
}


.function-title{
   
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 50px;
    margin-top: 0;
    line-height: 1.16;
    
}
/* Портфолио */
.main-portfolio{
background-color: #E5E5E5;
}

.portfolio .item{
    font-family: Roboto,Calibri;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
}

.portfolio .item:hover{
    color:#ffffff;
    background-color: #2196F3;
}

/* Наша команда */
.team-item{
    width:1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
}
.team{
    display: flex;
}
.comand{
    width: 1600px;
    height: 648px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F4FA;
}
.team .photo + .photo{
    margin-left: 30px;
}

.comand-title{
    text-align: center;
    color: #212121;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    margin-top: 0;
    
   
    
}

.comand-initials{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    
}

.profesion{
    
    text-align: center;
    color: #757575;
    font-size: 16px;
    line-height: 1.18;
    margin: 0;
}
/* Футер */

.footer{
    width: 1600px;
    height: 252px;
    background-color: #2F303A;
}

.footer-container{
    margin-left: 215px;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 224px;
    height: 148px;
}

.logo-footer{
    color: #ffffff;
}

.adres{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.71;  
}

.adres-item{
    margin-bottom: 10px;
}

.adres-link{
    
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}





